// .form-layout p {
//     color: #343a40;
// }

// .form-layout {
//     background: white;
//     border-radius: 13px;
//     //  padding: 10px;
//     // width: 100%;
//     // margin: 10px;
// }

// .form-layout th {
//     text-align: center;
// }

// .form-layout select,
// input {
//     margin-left: 18px;
//     margin-left: 18px;
//     color: #6c757d;;
// }
// .form-layout input{
// color: #6c757d;
// }
// .labelName{
//     color: #343a40;
// }
// .labelValue{
//     color: #6c757d;
// }
// .flex-container-report {
//     height: 100%;
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .row-report {
//     width: auto;
//     padding: 10px;
// }
.form-card {
    background-color: white;
    border-radius: 13px;
    margin-top: 15px;
   
}
.form-card label {
    padding-top:10px;
}
.form-card th {
    border-width: 0 !important;
}
.form-card td {
    text-align: center;
}
.form-card-th-center {
    text-align: center;
}
.bottom-inner {
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.jumbotron-heading {
    font-weight: bold;
    color: white;
    background-color: #232329;
    text-align: center;
    padding:5px
}